<!DOCTYPE html>
<html>
  <head>
    <title>SmarIoT</title>
    <meta content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content=" {{ refresh }} " />
    <link rel="stylesheet" type="text/css" href="static/main.css"/>
  </head>
  <body onload="window.onbeforeunload = function (){window.scrollTo(0, 0);}">
    <div>
        <h2>SmarIoT</h2>
        <p>Barebones REST app for IoT. <samp>POST</samp> or <samp>GET</samp> requests as JSON via the <samp>/data</samp> endpoint. 
        Last {{ count }} message(s) seen by the endpoint:</p>
    </div>
    <div>
        <table style="border-collapse:separate; border-spacing:1rem;" summary="list of messages received on the endpoint">
            {% if cache %}
                    {% for item in cache %}
                        <tr>
                            <td>
                            <div>
                            <p style="font-size:0.75rem;">On {{ item[1] }} received message</p>
                            <samp style="font-size:0.85rem;">{{ item[0] }}</samp>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
            {% else %}
                    <tr>
                        <td><div><samp>No data available yet</samp></div></td>
                    </tr>
            {% endif %}
        </table>
    </div>
    <div style="text-align:center;font-size:0.75rem;">
        <p>Last update {{ ts }}.<br/>This page will automatically reload every {{refresh}} seconds.</p>
    </div>
  </body>
</html>
