<!DOCTYPE html>
<html lang="en">
   <meta charset="utf-8" />
   <title>SmarIoT : Viz</title>
   <link rel="stylesheet" type="text/css" href="static/main.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<h3>SmarIoT : Viz</h3>
<div>
<form name="change">
<p>Bar chart for node 
<select style="font-size:1rem;" name="devices" onchange="document.getElementById('viz_frame').src = this.options[this.selectedIndex].value">
    <option disabled selected value> -- select an device -- </option>
    {% for item in dev_list %}
        <option value="/viz/{{item}}">{{item}}</option>
    {% endfor %}
</select>
</p>
</form>
</div>
    <iframe id="viz_frame" frameborder="0" noresize="noresize" style="height:350px;width:98%" src="about:blank" />
</div>
</body>
</html>
