<!DOCTYPE html>
<html lang="en">
   <meta charset="utf-8" />
   <title>SmarIoT : Viz</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta http-equiv="refresh" content=" {{ refresh }} " />
   <link rel="stylesheet" type="text/css" href="static/main.css"/>
   <!-- import plugin script -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
<h1>SmarIoT : Viz</h1>
<!-- bar chart canvas element -->
<div align="center"><canvas id="chart" width="900px" height="500px"></canvas></div>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in viz_data %}
                  "{{item[0]}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for item in viz_data %}
                      {{item[1]}},
                    {% endfor %}]
      }]
   }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 12;
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        animation:false,
        scaleOverride:true,
        scaleSteps: {{ viz_data|length() }},
        scaleStartValue: {{ min_val }},
        scaleStepWidth: Math.ceil( {{ max_val }} / {{ viz_data|length }}),
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
   });
</script>
</body>
</html>
